.border {
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.setBorder {
  display: flex;
  align-items: center;
  width: 100%;
}
.borders {
  width: 40px !important;
  height: 20px !important;
  position: relative;
  z-index: 30;
}

.setBorder:before,
.setBorder:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #1a1a1c;
}

.setBorder:before {
  margin: 0 5px 0 0;
}

.setBorder:after {
  margin: 0 0 0 5px;
}
.lightborders {
  z-index: 40;
  position: absolute;
}
.lightborders2 {
  position: absolute;
  top: -3px;
  z-index: 0;
}
.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.wrapper {
  width: 50%;
  display: grid;
  height: 600px;
  text-align: center;
}
.wrapperDark{
  width: 50%;
  display: grid;
  height: 600px;
  text-align: center;
}
.wrapperDark h3{
  color: #fff !important;
}
.wrapperDark span{
  color: #fff !important;
}
.wrapperDark button{
  background: #fff !important;
  color: #1a1a1c !important;
}
.contactHeader h3 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  text-align: center;

  color: #1a1a1c;
}
.contactHeader span {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #414042;
}
.contactMiddle {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.contactMiddle button {
  width: 184px;
  height: 63px;
  border: none;
  background: #1a1a1c;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #fff;
  margin-left: 40px;
}
.contactMiddle span {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #4e4e50;
}
.contactFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.contactFooter span {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

  @media only screen and (max-width: 950px) {
    .contactMiddle {
      margin: 40px 0px;
    }

  }

  
  @media only screen and (max-width: 650px) {
  
    .contactMiddle button{
        margin-left: 45px;
        margin-bottom: 30px;
    }
    .wrapper {
      width: 100%;
     
    }
    .wrapperDark{
      width: 100%;
    
    }
  }
